
/* url for icon changes and fonts changes link imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* defined right side conatiner  */
.right_side{
    background: #fff;
    border-radius: 0.8rem;
    height: 62vh;
}


.right_side .news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.right_side .news h4{
    font-weight: 400;
}

.right_side .latest_news{
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s all ease;
}

.right_side .latest_news:hover{
    background: rgb(231, 231, 231);
}

.right_side .latest_news .one{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right_side .latest_news .one h5{
    font-weight: 500;
}

.right_side .latest_news .one i{
    font-size: 0.5rem;
    color: gray;
}

.right_side .latest_news .two{
    margin: 0 1.9rem;
    font-size: 0.8rem;
    color: gray;
}

.right_side .show_more{
    display: flex;
    gap: 0.5rem;
    color: gray;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}

.right_side .show_more h5{
    font-weight: 400;
} 
